<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="HotelReservationSystem-PU" transaction-type="JTA">
    <jta-data-source>jdbc/hotelReservationSystem</jta-data-source>
    <class>entity.business.Allocation</class>
    <class>entity.business.ExceptionReport</class>
    <class>entity.business.OnlineReservation</class>
    <class>entity.business.PartnerReservation</class>
    <class>entity.business.Rate</class>
    <class>entity.business.Reservation</class>
    <class>entity.business.Room</class>
    <class>entity.business.RoomType</class>
    <class>entity.business.WalkInReservation</class>
    <class>entity.user.Employee</class>
    <class>entity.user.Guest</class>
    <class>entity.user.Occupant</class>
    <class>entity.user.Partner</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
